body {
    background-image: url('hqdefault.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 50%; 
    max-width: 400px; 
  }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  input, select {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    padding: 15px 30px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  @media screen and (max-width: 768px) {
    .login-container {
      width: 70%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .login-container {
      width: 90%; 
    }
  }
  